body {
	background-color: #ffff99;
}

#cursor {
	position: absolute;
	top: 50%;
	left: 50%;
}

#header {
	height: 5%;
	display: block;
}

#content {
	height: 65%;
	display: block;
}

#footer {
	height: 30%;
	display: block;
}


#demo {
	background-color: white;
	width: 100%;
	height: 100%;
}

#box1 {
	height: 50;
	width: 50px;
	background-color: red;
	border-radius: 100px;
	position: relative;
}