body {
	background-color: #ffff99 !important;
	padding: 1em;
}

#cursor {
	position: absolute;
	top: 0px;
	left: 0px;
}

#header {
	display: block;
}

#content {
	height: 80%;
	display: block;
	background-color: white;
	padding: 1em;
}

#footer {
	/*height: 30%;*/
	display: block;
	position: 
}

#demo {
	width: 100%;
}

#box1 {
	height: 50;
	width: 50px;
	background-color: red;
	border-radius: 100px;
	position: relative;
	left: 100px;
	top: 50px;
}

.dropdown {
	display: inline-block;
}

.controls {
	display: inline-block;
	margin-right: 50px;
}

form {
	display: inline-block;
}

.session-on {
	background-color: yellow;
}

button {
	outline: none;
}